/*** GLOBAL ***/
body {
  font: 16px/1.6 "Cabin", Arial, sans-serif;
  background: #fff;
  color: #252525;
  width: 85%;
  /* max-width: 960px; */
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}
.caps {
  text-transform: uppercase;
}
/*** NAV BAR ***/
a,
a:visited:active {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #696969;
  text-decoration: none;
}
.full-page {
  margin-top: 6vh;
  width: 100%;
}
.navbar-nav {
  width: 100%;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 600;
}
li.nav-item {
  display: inline;
  list-style-type: none;
  padding: 0px 15px 0px 0px;
}
li.active {
  text-decoration: underline;
}
span.items {
  margin-top: 2vh;
}
p {
  font-size: 0.9em;
  font-weight: 100;
}
/*** RESPONSIVE SIZING ***/
.small-screen-nav {
  display: none;
}
@media screen and (max-width: 800px) {
  li.nav-item {
    display: none;
  }
  .small-screen-nav {
    display: block;
  }

  .sandwich-icon:after,
  .sandwich-icon:before {
    display: block;
    background-color: #111;
    width: 30px;
    border-radius: 3px;
    content: "";
    height: 3px;
    margin-top: 5.935px;
    transition: all 0.2s ease-in-out;
  }
  .sandwich-icon:active:before,
  .sandwich-icon:visited:before {
    transform: translateY(4px) rotate(135deg);
  }

 
  .sandwich-icon:active:after,
  .sandwich-icon:visited:after {
    transform: translateY(-4px) rotate(-135deg);
  }

}
