.projectsContainer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin-top: 10vh;
  justify-content: center;
}
.projectRow {
  display: flex;
  flex-direction: row; 
  margin-bottom: 10vh;
}
.projectImg {
  display: inline-block;
  background-color: #111;
  width: 400px;
  height: 300px;
  margin: 0 3em 1em 1em;
}
.projectDate, .projectTech {
  font-size: 0.8em;
}
.projectDescription {
  margin-top: 10vh;
  margin-left: 6vh;
  display: inline-block;
  width: 400px;
  color: black;
  font-size: 0.9em;
}
.projectAbout {
  padding: 4px 0px 4px 0px;
}

